body {
    font-family: Arial, Helvetica, sans-serif;
}



.liste {
    display: flex;
    flex-direction: row;
}

.item1 {
grid-column-start: 1;
grid-column-end: 3;
    
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

#container > div {
    background-color: blue;
    width: 30;
    min-height: 20vh;
    border-radius: 5px;
    color: white;
    font-size: 3rem;
    text-align: center;
    
}

.img {
    width: fit-content;
    height: fit-content;
}